body {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1000px;
  font-family: Inter;
}

h1 {
  margin-bottom: 10px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
button {
  border: none;
  font-family: inherit;
}

.newExpenseForm {
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.newExpenseInput,
.expenseCategory {
  padding: 5px 10px;
  height: 60px;
  font-family: Inter;
  font-size: 32px;
}

.formBtns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addExpenseBtn,
.clearExpenseBtn {
  background-color: #0094ff;
  color: white;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
}
.clearExpenseBtn {
  background-color: #ff0000;
}

/* History */
.history-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.appStatus-wrapper {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.limit-wrapper,
.status-wrapper,
.total-wrapper {
  margin: 0;
  display: flex;
  gap: 10px;
  text-align: left;
  font-size: 32px;
  line-height: 42px;
}

.expensesItem {
  text-align: left;
  font-size: 28px;
  line-height: 36px;
}

.historyList-wrapper {
  row-gap: 30px;
  font-size: 32px;
  line-height: 39px;
}

.limit__title,
.status__title,
.total__title,
.history__title {
  font-weight: 700;
}

.historyList {
  margin-left: 35px;
}

.setNewLimitBtn {
  background-image: url(resources/editLimit.png);
  width: 42px;
  height: 42px;
  background-color: white;
}

/* JS-styles */

.status_green {
  color: green;
}

.status_red {
  color: red;
}

@media (max-width: 768px) {
  .formInputs,
  .formBtns {
    margin: 0 auto;
  }
  .newExpenseInput,
  .expenseCategory {
    padding: 5px 10px;
    width: 100%;
    height: 60px;
    font-family: Inter;
    font-size: 25px;
  }

  .addExpenseBtn,
  .clearExpenseBtn {
    font-size: 25px;
    line-height: 40px;
  }

  .history-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .limit-wrapper,
  .status-wrapper,
  .total-wrapper {
    margin: 0;
    display: flex;
    gap: 10px;
    text-align: left;
    font-size: 28px;
    line-height: 32px;
  }

  .historyList-wrapper {
    row-gap: 10px;
    font-size: 28px;
    line-height: 36px;
  }

  .expensesItem {
    text-align: start;

    font-size: 24px;
    line-height: 30px;
  }
}
